<!DOCTYPE html>
<html>
<head>
    <title>Funcionários</title>
</head>
<body>

    <h1> Funcionários</h1>

    {% with mensagens = get_flashed_messages() %}
        {% if mensagens %}
            {% for mensagem in mensagens %}
                <p><strong>{{ mensagem }}</strong></p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h2>Cadastrar funcionário</h2>

    <form method="POST">
        <label>Nome:</label>
        <input type="text" name="nome" required>
        <button type="submit">Cadastrar</button>
    </form>

    <hr>

    <h2>Lista de funcionários</h2>

    {% if funcionarios and funcionarios|length > 0 %}

        <ul>
            {% for f in funcionarios %}
                <li>
                     {{ f[1] }}
                    |
                    <a href="/fiado_funcionario/{{ f[1] }}">
                        Ver extrato de fiado
                    </a>
                </li>
            {% endfor %}
        </ul>

    {% else %}
        <p>Nenhum funcionário cadastrado.</p>
    {% endif %}

    <br><br>

    <a href="/">Voltar</a>

</body>
</html>